<!-- Don't put slash before partials as we don't want to check in root -->
<%- include("partials/header") %>

<h1>Landing Page!</h1>

<p>Welcome to YelpCamp!</p>

<a href="/campgrounds">View all campgrounds!</a>

<%- include("partials/footer") %>
