<h1>This is the secret page!</h1>

<p>Haha you found me!</p>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTboXyJS9eYgw2Q14_nc3ikANr75Y76-8GIGg&usqp=CAU">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>