p{
    font-family: Arial;
    font-weight: 900;
    line-height: 2; /* twice of current */
}

h1{
    font-family: Grandstander;
    text-align: center;
    text-decoration: underline line-through;
    font-weight: normal;
}

h1{
    font-size: 60px;
}

span{
    font-size: 2.0em;
}