img{
    width: 30%;
    float: left;
    margin: 1.66%; /* Three images took 30% each. We had 10% left and left and right of each of the three images. Hence 10/6 = 1.66 */
}
p{
    font-family: Raleway;
    margin-left: 1.66%;
    font-size: 23px;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    padding-bottom: 20px;
}