<%- include("partials/header") %>

<h1>Justin Bieber loves <span style="color: purple;">purple!</span></h1>
<img src="https://i.pinimg.com/736x/9e/29/76/9e2976f335fd3303a60566d0141e2d35.jpg">

<%- include("partials/footer") %>
